body {
  
  background-image: url('./assets/images/bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.header {
  background-color: #4F7942;
  color: #fff;
  text-align: center;
}

.header .container {
  justify-content: center;
}
.input-group-text {
  background-color: #1874d1;
  color: #fff;
  font-weight: bold;
}
.edit,
.delete {
  padding: 0px 6px;
  border-radius: 10px;
}

.edit {
  margin-right: 10px;
}
table {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}



.App-header {
  background-color: #ef19b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-height {
  height: 180px; 
  width: 300px;
  border-radius: 15px; 
}

.refresh-icon {
  font-size: 4rem;
  cursor: pointer;
  border-radius: 20px;
}

.refresh-icon:hover {
  background-color: #1874d1; 
  color: #fff;
}

.footer {

  background-color: #4F7942;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 150px;
  
}